<div class="aboutMainContent">
<div style="height: 400px;
    width: 100%;">
   <img class="aboutImage" src="../assets/BannerCodingImg.jpg">
   <!-- <h1  class="headingText1">Hello !!!</h1>
   <h1  class="headingText3">I am</h1> -->
   <p  class="headingText1">MH Anwar Hossain Abir</p>
   <ngx-typed-js  [loop]='true' [backSpeed]="50" [showCursor]="false" [contentType]="'html'" [typeSpeed]="120" [strings]="['I am Software Engineer.','I am ASP.NET and angular Developer.', 'I am Work at Retail Technologies Limited.']">
       <h1  class="typing headingText2" > <u></u></h1>
     </ngx-typed-js>
</div>
</div>
<div class="aboutMainContent1">
    <h1>About</h1>
    <div style="height: 3px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae nibh id risus cursus varius. Pellentesque tempor placerat massa, viverra scelerisque libero ullamcorper vitae. Sed dapibus purus vitae augue pellentesque viverra. Donec aliquet sodales diam, id fringilla purus ullamcorper eu. Praesent faucibus dui id arcu consequat, non condimentum ligula placerat. Maecenas blandit nibh quis finibus ultricies. Nam non magna vel nulla iaculis maximus eu ultrices mi. Integer a nulla a orci cursus tincidunt in lobortis augue. Maecenas et tortor sed turpis vulputate porttitor ut sed augue. Aliquam vulputate turpis efficitur tortor varius condimentum. Etiam lacinia, purus et fermentum finibus, diam est eleifend libero, at scelerisque nulla turpis quis massa. Curabitur ac pellentesque dolor, at scelerisque augue. Aenean massa purus, fringilla ac vehicula et, gravida pellentesque tellus.

Duis non cursus ante. Morbi nulla ipsum, sollicitudin ut scelerisque et, cursus sed nisl. Phasellus lorem mi, euismod id turpis nec, volutpat pulvinar dolor. Vestibulum at convallis urna, vel fermentum justo. Nam tempus sapien vel bibendum mollis. Nam et lacinia libero. Etiam mattis mauris sapien, quis auctor eros volutpat vitae. Curabitur sit amet arcu diam. Ut sed arcu iaculis urna mollis ultricies. In mollis nec nisl egestas convallis. Aenean sodales velit luctus eros pharetra, vel venenatis enim pretium.

Nullam quis pretium orci, sit amet dignissim lorem. Vivamus condimentum fringilla urna, quis varius justo ornare a. Nam velit risus, porta id venenatis ut, tempor sed odio. Morbi finibus tellus sed felis pharetra, eu lobortis elit malesuada. Mauris tincidunt lectus sed orci sagittis pharetra. Proin sagittis nisi non odio consequat, et pulvinar nulla imperdiet. Nunc eros sem, egestas at metus et, fringilla varius justo. Donec non lorem vitae tortor porttitor iaculis. Maecenas finibus tortor non nisi sagittis luctus. Nam venenatis cursus nulla tempor posuere. Aliquam eget purus sed dolor lacinia malesuada. Sed auctor auctor ornare. Cras blandit blandit eros non tristique. Fusce tortor libero, faucibus commodo ornare ut, faucibus quis nulla.

Praesent laoreet finibus nulla ut porttitor. Mauris sit amet ante vestibulum, consequat leo quis, malesuada nisl. Aenean a commodo turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse et metus sem. Donec tortor nulla, gravida et hendrerit quis, porttitor non orci. Mauris ex dolor, elementum ut dictum vitae, faucibus ac ipsum. Morbi a libero id massa venenatis accumsan. Nullam maximus mattis metus, rhoncus faucibus lacus. Donec auctor ligula eget augue consectetur, sit amet pharetra dui vestibulum. Phasellus efficitur lorem in sagittis pharetra. Vivamus non arcu quis nisl fringilla tincidunt. Curabitur congue id nisi nec semper.

Donec et bibendum eros. Suspendisse in dolor sit amet urna interdum vestibulum a sed dolor. Suspendisse hendrerit magna vitae volutpat cursus. Quisque tortor arcu, pretium at congue a, imperdiet at est. Donec ullamcorper ante sit amet mi porttitor, id vulputate odio molestie. Mauris vel tortor lorem. Maecenas ut egestas diam. Donec porttitor lobortis nunc ac dapibus. Cras mattis dolor vel orci ullamcorper auctor. Vestibulum nec elit orci. Quisque scelerisque aliquam nunc, maximus pharetra lorem gravida id. Maecenas porttitor fringilla mollis. Praesent at faucibus erat, ac suscipit ante.
    </p>
</div>
