<section id="about">


    <div class="aboutMainContent1" style="margin-top:450px" id="#about">
        <h1>About</h1>
        <div style="height: 3px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae nibh id risus cursus varius. Pellentesque tempor placerat massa, viverra scelerisque libero ullamcorper vitae.
        </p>
    
    </div>
    <div class="aboutMainContent2">
      <div class="aboutMainContent-child1">
        <img class="aboutMainContent-child-Image" src="../assets/profile.jpg" height="100" width="100">
      </div>
      <div class="commontext">
        <h1 >ASP.NET And Angular developer </h1>
        <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    
      <div class="aboutMainsubContent">
    
        <div class="aboutMainContent-child2">
          <ul>
              <li>
                  <i class="fa fa-chevron-right"></i><strong>Degree : </strong>
              </li>
              <li>
                  <i class="fa fa-chevron-right"></i><strong>Session : </strong>
              </li>
              <li>
                  <i class="fa fa-chevron-right"></i><strong>University :</strong>
              </li>
              <li>
                  <i class="fa fa-chevron-right"></i><strong>Grade : </strong>
              </li>
    
          </ul>
    
        </div>
        <div class="aboutMainContent-child3">
          <ul>
              <li>
                  <i class="fa fa-chevron-right"> </i> <strong>Date of Birth : </strong>
              </li>
              <li>
                  <i class="fa fa-chevron-right"></i> <strong>Website : </strong>
              </li>
              <li>
                  <i class="fa fa-chevron-right"></i> <strong>Phone : </strong>
              </li>
              <li>
                  <i class="fa fa-chevron-right"></i> <strong>Address : </strong>
              </li>
    
          </ul>
        </div>
      </div>
    
    
    </div>
    
    
    <div style="margin-top: 300px;">
      <h1>Facts</h1>
      <div style="height: 3px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae nibh id risus cursus varius. Pellentesque tempor placerat massa, viverra scelerisque libero ullamcorper vitae.
      </p>
      <div class="aboutMainContent3">
      <div class="aboutMainContent3-child1">
       <h1 ><i class="fa fa-smile-o" aria-hidden="true" style="color:#149ddd;font-size: 56px;"></i> 232</h1>
       <p>Happy Clients consequuntur quae</p>
      </div>
      <div class="aboutMainContent3-child2">
        <h1><i class="fa fa-address-book-o" aria-hidden="true" style="color:#149ddd;font-size: 56px;"></i> 232</h1>
        <p>Happy Clients consequuntur quae</p>
      </div>
      <div class="aboutMainContent3-child2">
        <h1><i class="fa fa-headphones" aria-hidden="true" style="color:#149ddd;font-size: 56px;"></i>    232</h1>
        <p>Happy Clients consequuntur quae</p>
      </div>
      <div class="aboutMainContent3-child4">
        <h1><i class="fa fa-user" aria-hidden="true" style="color:#149ddd;font-size: 56px;"></i> 232</h1>
        <p>Happy Clients consequuntur quae</p>
      </div>
      </div>
    
    </div>
    <br>
    <div class="SkillsArea">
      <h1>Skills</h1>
      <div style="height: 3px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
      <div class="SkillsArea-Child1">
      <label>C</label>
      <p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </p>
      <label>C++</label>
      <p>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </p>
      <label>C#</label>
      <p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </p>
      <label>ASP.NET</label>
      <p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </p>
      </div>
      <div class="SkillsArea-Child2">
        <label>HTML</label>
        <p>
          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
        </p>
        <label>CSS</label>
        <p>
          <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
        </p>
        <label>Java Script</label>
        <p>
          <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        </p>
        <label>Angular</label>
        <p>
          <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        </p>
    
      </div>
    
    </div>
    </section>