
<h1>Portfolio</h1>
<div style="height: 4px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>
<div class="portfolioArea">
<div class="portfolioArea-child1">
<img src="../assets/profile.jpg" class="portfolioImage">
</div>
<div class="portfolioArea-child2">
    <img src="../assets/profile.jpg" class="portfolioImage">
</div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img src="../assets/profile.jpg" class="portfolioImage">
    </div>
</div>