

<h1 >Portfolio</h1>
<div style="height: 4px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>
<div class="portfolioArea">
<div class="portfolioArea-child1">
<img  (click)="OpenDialog('../assets/ERP/SalesOrder.png')" src="../assets/ERP/SalesOrder.png" class="portfolioImage">

</div>
<div class="portfolioArea-child2">
    <img (click)="OpenDialog('../assets/ERP/IWO.png')" src="../assets/ERP/IWO.png" class="portfolioImage">
</div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Req.png')" src="../assets/ERP/Req.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img (click)="OpenDialog('../assets/ERP/Issue.png')" src="../assets/ERP/Issue.png" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Production.png')" src="../assets/ERP/Production.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img (click)="OpenDialog('../assets/ERP/transfer.png')" src="../assets/ERP/transfer.png" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/StockOpening.png')" src="../assets/ERP/StockOpening.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img  (click)="OpenDialog('../assets/ERP/stockAdjustment.png')" src="../assets/ERP/stockAdjustment.png" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Demand.png')"  src="../assets/ERP/Demand.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img  (click)="OpenDialog('../assets/ERP/Delivery.png')" src="../assets/ERP/Delivery.png" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Receive.png')"  src="../assets/ERP/Receive.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img  (click)="OpenDialog('../assets/ERP/Delivery.png')" src="../assets/ERP/SalesInvoice.png" class="portfolioImage">
    </div>
</div>
