

<h1 >Portfolio</h1>
<div style="height: 4px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>

<div class="portfolio">
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/SalesOrder.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/SalesOrder.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
           </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/IWO.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/IWO.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/Req.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/Req.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/Issue.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/Issue.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
</div>
<div class="portfolio">
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/Production.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/Production.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
           </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/transfer.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/transfer.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/StockOpening.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/StockOpening.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/stockAdjustment.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/stockAdjustment.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
</div>

<div class="portfolio">
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/Demand.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/Demand.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
           </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/Delivery.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/Delivery.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/Receive.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/Receive.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
    <div class="portfolio1">
        <mat-card class="example-card" (click)="OpenDialog('../assets/ERP/SalesInvoice.png')">
            <img mat-card-image class="portfolioImage"  src="../assets/ERP/SalesInvoice.png" alt="Photo of a Shiba Inu">
            <button mat-button class="IamgeBtn" style="background-color: #149ddd;width: 100% !important;border-radius: 0% !important;">
            <i class="fa fa-hand-pointer-o" style="font-size: 20px; color: white;"></i>
            </button>
        </mat-card>
    </div>
</div>
<!-- <div class="portfolioArea">
<div class="portfolioArea-child1">
      
<img   src="../assets/ERP/SalesOrder.png" class="portfolioImage">

</div>
<div class="portfolioArea-child2">
   
 <img (click)="OpenDialog('../assets/ERP/IWO.png')" src="../assets/ERP/IWO.png" class="portfolioImage"> 
</div>
</div> -->

<!-- <div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Req.png')" src="../assets/ERP/Req.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img (click)="OpenDialog('../assets/ERP/Issue.png')" src="../assets/ERP/Issue.png" class="portfolioImage">
    </div>
</div> -->

<!-- <div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Production.png')" src="../assets/ERP/Production.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img (click)="OpenDialog('../assets/ERP/transfer.png')" src="../assets/ERP/transfer.png" class="portfolioImage">
    </div>
</div> -->
<!-- 
<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/StockOpening.png')" src="../assets/ERP/StockOpening.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img  (click)="OpenDialog('../assets/ERP/stockAdjustment.png')" src="../assets/ERP/stockAdjustment.png" class="portfolioImage">
    </div>
</div> -->

<!-- <div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Demand.png')"  src="../assets/ERP/Demand.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img  (click)="OpenDialog('../assets/ERP/Delivery.png')" src="../assets/ERP/Delivery.png" class="portfolioImage">
    </div>
</div>

<div class="portfolioArea">
    <div class="portfolioArea-child1">
    <img (click)="OpenDialog('../assets/ERP/Receive.png')"  src="../assets/ERP/Receive.png" class="portfolioImage">
    </div>
    <div class="portfolioArea-child2">
        <img  (click)="OpenDialog('../assets/ERP/Delivery.png')" src="../assets/ERP/SalesInvoice.png" class="portfolioImage">
    </div>
</div> -->
