
.portfolioArea{
    width:100%;
    height: auto;
    display: block;

}

.portfolioImage1{
    width: 99%;
    height: 220px;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    box-shadow: 0 0 2px 1px #149ddd;
}
.portfolioArea-child1{
    float:left;
    width: 22%;


}
.portfolioArea-child2{
    float:left;
    width: 22%;
    padding: 1%;

}
.portfolioArea-child3{
    float:left;
    width: 32%;
    padding: 1%;
}
.portfolioArea-child4{
    float:left;
    width: 24%;
    padding: 1%;
}
.IamgeBtn:hover{
    background-color:slategrey;
}

.example-card:hover{
    background-color: rgb(5, 44, 44) !important;
    /* box-shadow:6px 6px 6px 6px rgb(84, 93, 102); */
    box-shadow: 5px 10px 8px 10px #888888;
}
.example-card{
    box-shadow: 5px 10px 8px 5px #d3cece;
}

.portfolio1{
    width:20%;
    float: left;
    padding: 2%;
}

.portfolioImage{
    height: 160px;

}

@media screen and (max-width: 800px) and (min-width: 375px) {
  .SkillsArea-Child1{
    width: 320px !important;
    padding: 0 !important;
    float: left;
    font-size: 12px;
   }
   .SkillsArea-Child2{
     width: 320px !important;
     padding: 0 !important;
     float: left;
     font-size: 12px;

   }
   .ResponsiveDecription{
    text-align: justify;
    font-size: 13px;
    font-weight: 100;
 }
 .portfolioImage {
  height: 66px  !important;
}
}



/* @media screen and (max-width: 414px)  {
  .SkillsArea-Child1{
    width: 320px !important;
    padding: 0 !important;
    float: left;
    font-size: 12px;
   }
   .SkillsArea-Child2{
     width: 320px !important;
     padding: 0 !important;
     float: left;
     font-size: 12px;

   }
   .ResponsiveDecription{
    text-align: justify;
    font-size: 13px;
    font-weight: 100;
 }
 .MainDiv{
  margin-top: 10px;
 }
 .portfolioImage {
  height: 66px  !important;
}
} */


