
  <!-- <mat-toolbar color="primary" style="height: 30px;position: fixed;">
  </mat-toolbar> -->


<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="sideNavBar" opened  >
    <div class="profileImage">

    <a  routerLink="/" > <img src="../assets/PersonalImage.jpg" class="profilePicture"></a>

    <p style="text-align: center;font-size: 20px;">MH Anwar Hossain Abir</p>
    <div class="socialLink">

      <a *ngFor="let s of socialDataList |async" href="{{s.SocialLink}}">
        <i class="{{s.SocialMedia}}"></i>
      </a>
      <!-- <a>
        <i class="fa fa-github"></i>
      </a>
      <a>
        <i class="fa fa-twitter"></i>
      </a>
      <a>
        <i class="fa fa-instagram"></i>
      </a>

      <a>
        <i class="fa fa-facebook"></i>
       </a> -->
     </div>
     <div class="navBarManue">
      <ul>
       <li>
        <a  routerLink="/"> <i class="fa fa-home" ></i> Home</a>
       </li>
       <li>
        <a  routerLink="/about" ><i class="fa fa-user" ></i> About</a>
       </li>
       <li>
        <a routerLink="/resume"><i class="fa fa-print"></i> Resume</a>
       </li>
       <li>
        <a routerLink="/portfolio"><i class="fa fa-book"></i> Portfolio</a>
       </li>
       <li>
        <a routerLink="/contract"><i class="fa fa-book"></i> Contact</a>
       </li>

       <!-- <li>
        <a href="../app/contract/contract.component.html"><i class="fa fa-book"></i> Contract</a>
       </li> -->
      </ul>
     </div>
    </div>

  </mat-drawer>
  <mat-drawer-content class="mainContent" >
  <div class="mainContentInsideArea">
     <!-- <app-header></app-header> -->
     <router-outlet></router-outlet>
  </div>
  </mat-drawer-content>
</mat-drawer-container>




