.resumeArea{
  width:100%;
}
.resumeArea h1{
  width:10%;
  display: block;
}
.resumeArea-Child4{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;
}
.resumeArea-Child2{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;

}

.resumeArea-Child1{
  width: 0.2%;
  float: left;
  text-align: justify;
   height: 1060px;
  background-color: #149ddd;
  margin-top: 35px;
}

.resumeArea-Child3{
  width: 0.2%;
  float: left;
  text-align: justify;
  height: 1060px;
  background-color: #149ddd;
  margin-top: 35px;
}


.resumeArea1{
  width:100%;
  margin-top: 337px !important;
}
.resumeArea-Child44{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;
}
.resumeArea-Child22{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;
}

.resumeArea-Child11{
  width: 0.2%;
  float: left;
  text-align: justify;
  height: 500px;
  background-color: #149ddd;
}

.resumeArea-Child33{
  width: 0.2%;
  float: left;
  text-align: justify;
  height: 276px;
  background-color: #149ddd;
}

.resumeArea-Child2 p{
  font-size: 16px;
  text-align: justify;
}

.resumeArea-Child2 ul li{
  font-size: 14px;
  text-align: justify;
  font-weight: bold;

}
.QualificationDiv p{
  font-style: italic;
  font-size: 16px;
}
.resumeArea-Child3 ul li{
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
}
.resumeArea-Child4 ul li{
  font-size: 16px;
  text-align: justify;
  font-weight: 100;
  line-height: 6px;
  font-style: italic;

}



.resumeArea-Child4 p{
  font-size: 16px;
  text-align: justify;
  font-weight: bold;

}

.resumeArea-Child4 ol li{
  font-size: 14px;
  text-align: justify;
}

.mat-toolbar-Content{
  width: 100%;
  height: auto;
}
.mat-toolbar-Content1{
  width: 49%;
  float: left;
}
.mat-toolbar-Content2{
  width: 49%;
  float: left;
}

/* mat-toolbar-row{
  line-height: 0.5px !important;
  font-size: 14px;
} */

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 36px !important;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  width: 49% !important;
  /* margin-top: -10px; */

}
.mat-toolbar-Content1 p{
 line-height: 0.5px;

}

mat-toolbar{
  margin: 10px;
  width: 49%;
}

.mat-toolbar.mat-primary {
  background: #1f7bc5 !important;
  color: #fff;
}

.mat-toolbar-Content2 .mat-toolbar-row, .mat-toolbar-single-row{
  width: 10% !important;
}

.col-md-6{
  width: 48%;
  float: left;
  padding: 1%;
  display: block;
}

/* .col-md-6 p{
  font-size:14px;font-weight: bold;
} */

.col-md-6 p:nth-child(2) {
  font-size:16px;font-weight:bold;
  text-align: justify;
  line-height: 8px;
}
.col-md-6 p:nth-child(3) {
  font-size:16px;font-weight:400;
  text-align: justify;
  line-height: 8px;
}
.col-md-6 p:nth-child(4) {
  font-size:14px;font-weight:400;
  text-align: justify;
}
.col-md-6 span {
  font-size:14px;font-weight:500;
  text-align: justify;
  line-height: 20px !important;

}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #2971d6;
}
:host ::ng-deep mat-progress-bar {
 height: 5px;
 border-radius: 5px !important;
}

:host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
 border-top-width: 5px !important;
 border-radius: 5px !important;

}

/* .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
  background-color: rgba(63, 81, 181, 0.25);
  border-radius: 2000px;
} */

.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
  background-color: rgba(63, 81, 181, 0.25) !important;
  border-radius: 5px !important;
}

.col-md-6 button{
  width: 60%;
  text-align: right !important;
  background-color: #2971d6 !important;
}

@media screen and (max-width: 420px) and  (min-width:285px)  {
  .col-md-6 button{
    font-size: 10px !important;
    width: 100%;
    text-align: left;
    line-height: normal;
  }
  p{
    font-size: 10px !important;
    line-height: 5px;
    text-align: left;
  }
  h1{
    font-size: 10px !important;
  }
  .textAddress{
    font-size: 10px !important;
    line-height: 15px !important;
    text-align: left !important;
 
    
  }
  .resumeArea div{
    margin-top: 10px !important;
  }
}
/* .skillBtn button {
  padding: 10px;
} */

/* @media screen and (max-width: 480px) and  (min-width: 320px)  {
  .mat-toolbar-Content1 {
    width: 100%;
    float: left;
    padding-left: 2%;
  }

  .mat-toolbar-Content2 {
    width: 49%;
    float: left;
    padding-left: 3%;
    margin-top: 29px;
}

.mat-toolbar-row h1{
 font-size: 12px !important;
 font-weight: 100 !important;
}
.mat-toolbar-row p{
  font-size: 10px;
 }

}

@media screen and (max-width: 600px) and  (min-width: 480px)  {
  .mat-toolbar-Content1 {
    width: 100%;
    float: left;
    padding-left: 2%;
  }

  .mat-toolbar-Content2 {
    width: 49%;
    float: left;
    padding-left: 3%;
    margin-top: 29px;
}

.mat-toolbar-row h1{
 font-size: 26px !important;
 font-weight: 100 !important;
}
.mat-toolbar-row p{
  font-size: 14px !important;
 }

}
 */
