
<div class="resumeArea">
  <h1>Resume</h1>
  <div style="height: 4px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>
  <p>
    Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
  </p>

  <div class="resumeArea-chaild1">

    <h1>Sumary</h1>
    <!-- <i class="fa fa-circle-thin" style="color: #1f7bc5;font-size: 26px;margin-left: -96.5%;"></i> -->
    <div class="resumeArea-chaild-sub1">

    </div>
    <div class="resumeArea-chaild-sub2">
       <h2>MH Anwar Hossain Abir</h2>
       <p>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</p>
       <ul>
        <li>Portland par 127,Orlando, FL</li>
        <li>(123) 456-7891</li>
        <li>alice.barkley@example.com</li>
       </ul>
    </div>

 
  </div>

  <div class="resumeArea-chaild-side1">
    <h1>Professional Experience</h1>
    <div class="resumeArea-chaild-side1-sub1">

    </div>
    <div class="resumeArea-chaild-side1-sub2">
       <h2>SENIOR GRAPHIC DESIGN SPECIALIST</h2>
       <ul>
        <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
        <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
        <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
       </ul>
    </div>
  </div>


</div>
