
<!-- <div class="resumeArea">
  <h1>Resume</h1>
  <div style="height: 4px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>

   <div  class="resumeArea-Child1" >

   </div>

  <div class="resumeArea-Child2">
  <h2>MH Anwar Hossain Abir</h2>
  <p  *ngIf="UserDataList.length>0">{{UserDataList[0].DescriptionThree}}</p>
  <ul>

    <li *ngIf="UserDataList.length>0">{{UserDataList[0].Address}}</li>
    <li *ngIf="UserDataList.length>0">{{UserDataList[0].Phone}}</li>
    <li *ngIf="UserDataList.length>0">{{UserDataList[0].Email}}</li>

  </ul>
  <div class="QualificationDiv" *ngFor="let q of qualificationList   ;let i=index; ">
    <h2>{{q.EducationBackground }}</h2>
    <p>{{q.Subject}}</p>
    <p>{{q.Session }}</p>
    <p>{{q.institutionName}}</p>
    <p>{{q.InstLocation}}</p>

  </div>


  </div>

  <div class="resumeArea-Child3">

  </div>

  <div class="resumeArea-Child4">
    <h2>Professional Experience</h2>
    <h2 *ngIf="UserDataList.length>0">{{UserDataList[0].Designation}}</h2>
     <p  style="font-weight: 100 !important;text-align: justify !important;" *ngIf="UserDataList.length>0">{{UserDataList[0].DescriptionTwo}}</p>
      <p *ngIf="SkillsList.length>0">
        {{SkillsList[0].Project}} :
      </p>
      <ul *ngFor="let f of SkillsList">
        <li> {{f.ModuleName}}</li>
       </ul>
    <p *ngIf="OthersSkillList.length >0"> {{OthersSkillList[0].Project}} :</p>
    <ul *ngFor="let o of OthersSkillList">
      <li>{{o.ModuleName}}</li>
     </ul>

     <p *ngIf="problemSolveSkill.length>0"> {{problemSolveSkill[0].Project}} :</p>
     <ul *ngFor="let p of problemSolveSkill">
       <li>{{p.ModuleName}}</li>
    </ul>
      <p *ngIf="frontEndSkillList.length>0">
        {{frontEndSkillList[0].Project}} :
      </p>
      <ul *ngFor="let f of frontEndSkillList">
        <li> {{f.ModuleName}}</li>
       </ul>
       <p *ngIf="backEndSkillList.length>0">
        {{backEndSkillList[0].Project}} :
      </p>
      <ul *ngFor="let f of backEndSkillList">
        <li> {{f.ModuleName}}</li>
       </ul>
       <p *ngIf="sqlSkillList.length>0">
        {{sqlSkillList[0].Project}} :
      </p>
      <ul *ngFor="let f of sqlSkillList">
        <li> {{f.ModuleName}}</li>
       </ul>
       <p *ngIf="reportSkill.length>0">
        {{reportSkill[0].Project}} :
      </p>
      <ul *ngFor="let f of reportSkill">
        <li> {{f.ModuleName}}</li>
       </ul>
  </div>


</div> -->
<br>
<div class="mat-toolbar-Content">

  <div class="mat-toolbar-Content1">
    <mat-toolbar color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
      <mat-toolbar-row style="color: black;">
        <p *ngIf="UserDataList.length>0">{{UserDataList[0].Address}}</p>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;">
        <p *ngIf="UserDataList.length>0">{{UserDataList[0].Phone}}</p>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;">
        <p *ngIf="UserDataList.length>0">{{UserDataList[0].Email}}</p>
      </mat-toolbar-row>
    </mat-toolbar>


      <mat-toolbar *ngFor="let q of qualificationList ;let i=index; "  color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
        <mat-toolbar-row style="color: black;">
          <h2>{{q.EducationBackground }}</h2>
        </mat-toolbar-row>
        <mat-toolbar-row style="color: black;">
          <p>{{q.Subject}}</p>
        </mat-toolbar-row>
        <mat-toolbar-row style="color: black;">
          <p>{{q.Session }}</p>
        </mat-toolbar-row>
        <mat-toolbar-row style="color: black;">
          <p>{{q.institutionName}}</p>
        </mat-toolbar-row>
        <mat-toolbar-row style="color: black;">
          <p>{{q.InstLocation}}</p>
        </mat-toolbar-row>
        
      </mat-toolbar>

   
  </div>

  <div class="mat-toolbar-Content2">
    <mat-toolbar  color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
      
      <mat-toolbar-row style="color: black;">
        <h1 *ngIf="SkillsList.length >0">{{SkillsList[0].Project}} : </h1>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;" *ngFor="let f of SkillsList " >
        <p>{{f.ModuleName}}</p>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar  color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
      
      <mat-toolbar-row style="color: black;">
        <h1 *ngIf="OthersSkillList.length >0">{{OthersSkillList[0].Project}} : </h1>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;" *ngFor="let f of OthersSkillList " >
        <p>{{f.ModuleName}}</p>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar  color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
      
      <mat-toolbar-row style="color: black;">
        <h1 *ngIf="problemSolveSkill.length >0">{{problemSolveSkill[0].Project}} : </h1>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;" *ngFor="let f of problemSolveSkill " >
        <p>{{f.ModuleName}}</p>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar  color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
      
      <mat-toolbar-row style="color: black;">
        <h1 *ngIf="frontEndSkillList.length >0">{{frontEndSkillList[0].Project}} : </h1>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;" *ngFor="let f of frontEndSkillList " >
        <p>{{f.ModuleName}}</p>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar  color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
      
      <mat-toolbar-row style="color: black;">
        <h1 *ngIf="sqlSkillList.length >0">{{sqlSkillList[0].Project}} : </h1>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;" *ngFor="let f of sqlSkillList " >
        <p>{{f.ModuleName}}</p>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar  color="primary" style="width: 6px;background-color: #1f7bc5 !important;">
      
      <mat-toolbar-row style="color: black;">
        <h1 *ngIf="sqlSkillList.length >0">{{reportSkill[0].Project}} : </h1>
      </mat-toolbar-row>
      <mat-toolbar-row style="color: black;" *ngFor="let f of reportSkill " >
        <p>{{f.ModuleName}}</p>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>


<!--
<div class="resumeArea1">
  <h1>Education</h1>
   <div class="resumeArea-Child11" >

   </div>

  <div class="resumeArea-Child22">
  <h2>BSC in CSE</h2>
  <p>2015 - 2016</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
   <h2>HSC</h2>
   <p>2012 - 2014</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>

   <h2>SSC</h2>
   <p>2011 - 2012</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
  </div>

  <div class="resumeArea-Child33">

  </div>

  <div class="resumeArea-Child44">
   <h2>C# AND ASP.NET</h2>
    <ul>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
    </ul>
  </div>


</div> -->

