
<div class="resumeArea">
  <h1>Resume</h1>
  <div style="height: 4px;width:55px;background-color: #1f7bc5;margin-top:-10px;"></div>

   <div class="resumeArea-Child1" >
   
   </div>

  <div class="resumeArea-Child2">
  <h2>MH Anwar Hossain Abir</h2>
  <p>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</p>
  <ul>
    <li>Portland par 127,Orlando, FL</li>
    <li>Portland par 127,Orlando, FL</li>
    <li>Portland par 127,Orlando, FL</li>
  </ul>
  <h2>BSC in CSE</h2>
  <p>2015 - 2016</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
   <h2>HSC</h2>
   <p>2012 - 2014</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>

   <h2>SSC</h2>
   <p>2011 - 2012</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
  </div>

  <div class="resumeArea-Child3">

  </div>
 
  <div class="resumeArea-Child4">
    <h2>Professional Experience</h2>
    <h2>Associate Software Engineer</h2>
    <p>I am full stack developer Asp.net with Dot.Net core and C#,I am professional working experience like 
      that.</p>
      <p>ERP System :</p>
    <ol>
     <li> POS</li>
     <li> Inventory</li>
     <li> Procurement</li>
     <li> Payable And Receivable</li>
     <li> Accounting </li>
     <li>HR Application</li>
    </ol>
    <p>Others :</p>
    <ol>
      <li>Automation Inventory</li>
      <li>Power up (Battery Management System) USA Based</li>
     </ol>
     <P>Sundarban Courier Service ERP :</P>
     <ol>
      <li> Automation Inventory</li>
     </ol>
    <h2>SKILLS : </h2>
    <P> Reporting System : </P>
    <ol>
      <li> Html and RDLC Reporting</li>
     </ol>
     <p>Problem Solve:</p>
     <ol>
      <li>URI Judge</li>
      <li>Hacker Rank</li>
     </ol>
      <p>
       Front-End :
      </p>
      <ol>
        <li> jQuery</li>
        <li> Java Script</li>
        <li> Ajax</li>
        <li>Angular JS</li>
        <li>Angular</li>
        <li>Angular Material</li>
        <li>Angular Command Line Interface (CLI) </li>
        <li>JSON Web Token (JWT) in Angular</li>
       </ol>
       <p>
        C# AND ASP.NET :
       </p>
       <ol>
        <li>ASP.NET & .NET Core</li>
         <li> Authentication asp.net Core</li>
         <li>JSON Web Token (JWT) in Asp.Net Core </li>
         <li>.NET & Asp.Net Core SignalR</li>
         <li>.NET & Asp.Net Core Razor </li>
         <li>.NET & Asp.Net Core Web API</li>
        </ol>
        <p>
          Microsoft SQL Server :
         </p>
         <ol>
           <li>Sql Query</li>
           <li> Sql View</li>
           <li> Store Procudure </li>
           <li> Sql function </li>
           <li>Sql Pvot </li>
          
          </ol>
  </div>


</div>

<!-- 
<div class="resumeArea1">
  <h1>Education</h1>
   <div class="resumeArea-Child11" >
   
   </div>

  <div class="resumeArea-Child22">
  <h2>BSC in CSE</h2>
  <p>2015 - 2016</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
   <h2>HSC</h2>
   <p>2012 - 2014</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>

   <h2>SSC</h2>
   <p>2011 - 2012</p>
   <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
  </div>

  <div class="resumeArea-Child33">

  </div>

  <div class="resumeArea-Child44">
   <h2>C# AND ASP.NET</h2>
    <ul>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
      <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
    </ul>
  </div>


</div> -->
   
