.resumeArea{
  width:100%;
}
.resumeArea-Child4{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;
}
.resumeArea-Child2{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;
}

.resumeArea-Child1{
  width: 0.2%;
  float: left;
  text-align: justify;
  height: 1050px;
  background-color: #149ddd;
  margin-top: 35px;
}

.resumeArea-Child3{
  width: 0.2%;
  float: left;
  text-align: justify;
  height: 1080px;
  background-color: #149ddd;
  margin-top: 35px;
}


.resumeArea1{
  width:100%;
  margin-top: 337px !important;
}
.resumeArea-Child44{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;
}
.resumeArea-Child22{
  width:47.8%;
  float: left;
  text-align: justify;
  height: auto;
  padding: 1%;
}

.resumeArea-Child11{
  width: 0.2%;
  float: left;
  text-align: justify;
  height: 500px;
  background-color: #149ddd;
}

.resumeArea-Child33{
  width: 0.2%;
  float: left;
  text-align: justify;
  height: 276px;
  background-color: #149ddd;
}

.resumeArea-Child2 p{
  font-size: 16px;
  text-align: justify;
}

.resumeArea-Child2 ul li{
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
}
.resumeArea-Child3 ul li{
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
}
.resumeArea-Child4 ul li{
  font-size: 14px;
  text-align: justify;
  font-weight: bold;
}



.resumeArea-Child4 p{
  font-size: 16px;
  text-align: justify;
  font-weight: bold;
 
}

.resumeArea-Child4 ol li{
  font-size: 14px;
  text-align: justify;
}