.row{
    width: 100%;
}
.row11 {
    width: 48%;
    float: left;
    padding: 1%;
}

.socialLink a{

    font-size: 18px;
    display: inline-block;
    background: #dff3fc;
    color: #2971d6;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 18px;
    transition: 0.3s;

}

.socialLink a:hover{

    font-size: 18px;
    display: inline-block;
    background: #2971d6 !important;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 18px;
    transition: 0.3s;

}
.row11 .row22{
    width: 15%;
    float: left;
    padding: 2%;
}

.row11 .mdc-card{
 padding: 15px;
}


@media screen and (max-width: 420px) and  (min-width:285px)  {
   .socialLink span{
    font-size: 9px;
    
   }

   .contact h1{
    margin-top: 70px !important;
  }
  
  }

/* .mdc-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 440px !important;
}

.mat-mdc-text-field-wrapper {
    width: 440px !important;
    height: 57px;
}
.example-full-width{
    width: 190px  !important;
    height: 57px;
    padding: 0%;
}


.example-full-width1{
    width: 400px !important;
    height: 57px;
}
.example-full-width2{
    width: 400px !important;
    height: 10px !important;
}
button{
    margin-top: 30px;
}

.contact{
    width:100%;
    margin-top: auto;
    text-align: justify;
}

.contractArea{
    width: 100%;

}
.contractArea-child1{
 float: left;
 width: 48%;
 padding: 1%;
}

.contractArea-child2{
    float: left;
    width: 48%;
    padding: 1%;
}

.socialLink{
    margin-left: auto;
}
.socialLink a{

    font-size: 18px;
    display: inline-block;
    background: #dff3fc;
    color: #149ddd;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 18px;
    transition: 0.3s;

}

.socialLink a:hover{

    font-size: 18px;
    display: inline-block;
    background: #149ddd;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 18px;
    transition: 0.3s;

}
.mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 300px !important;
    position: relative;
    box-sizing: border-box;
}

@media only screen  and (max-device-width : 720px)  {

    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 288px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 288px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 100px !important;
        height: 57px;
    }
    .example-full-width{
        width: 115px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 255px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 255px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
   display: none;
    }
    
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}

}

@media only screen and (max-width: 768px) and (min-width:375) {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 310px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 310px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 100px !important;
        height: 57px;
    }
    .example-full-width{
        width: 125px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 275px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 275px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
   display: none;
    }
    
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (max-width: 992px) {

    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 255px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 255px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 90px !important;
        height: 57px;
    }
    .example-full-width{
        width: 90px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 210px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 210px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
   display: none;
    }
    
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}

} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (max-width: 1200px) {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 380px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 380px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 125px !important;
        height: 57px;
    }
    .example-full-width{
        width: 125px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 310px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 310px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
   display: none;
    }
    
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}

} */
/* @media screen  and (max-width: 375px) {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 140px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 140px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 100px !important;
        height: 57px;
    }
    .example-full-width{
        width: 115px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 250px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 250px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
   display: none;
    }
    
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}

}




@media screen and (max-width: 414px)  {
    .contractArea-child1{
        width: 400px !important;
    }
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 400px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
    }
    .socialLink{
        font-size:12px;
    }
    .contractArea-child2 {
        padding: 5px;
    }
    .mat-mdc-text-field-wrapper {
        width: 120px !important;
        height: 57px;
    }
    .example-full-width{
        width: 120px  !important;
        height: 57px;
        padding: 0%;
    }
    
    .example-full-width1{
        width: 280px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 280px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
      display: none;
    }
    
}



@media screen and (max-width: 820px)   {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 340px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 320px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 120px !important;
        height: 57px;
    }
    .example-full-width{
        width: 125px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 280px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 280px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
   display: none;
    }
    
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}
}
@media screen and (max-width: 912px)   {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 370px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 370px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 120px !important;
        height: 57px;
    }
    .example-full-width{
        width: 125px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 280px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 280px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
   .mapouter{
   display: none;
    }
    
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}
}

@media screen and (max-width: 1024px)   {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 300px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 300px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 110px !important;
        height: 57px;
    }
    .example-full-width{
        width: 110px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 255px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 255px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
  
.mapouter{
   text-align:right;height:300px;width:100%;
}

.gmap_canvas{
    background:none!important;height:300px;width:100%;
}
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}



}

@media screen and (max-width: 912px)   {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 375px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 375px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 130px !important;
        height: 57px;
    }
    .example-full-width{
        width: 130px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 315px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 315px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
  
.mapouter{
   text-align:right;height:300px;width:100%;
}

.gmap_canvas{
    background:none!important;height:300px;width:100%;
}
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}



}


@media screen and (max-width: 540px)   {
    .mdc-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 450px !important;
    }
    .mat-mdc-card-content {
        display: block;
        padding: 0 16px;
        width: 450px !important;
    }
    .socialLink{
        font-size:12px;
    }

    .contractArea-child2 {
      
        padding: 5px;
    }

  

    .mat-mdc-text-field-wrapper {
        width: 170px !important;
        height: 57px;
    }
    .example-full-width{
        width: 170px  !important;
        height: 57px;
        padding: 0%;
    }
    

    .example-full-width1{
        width: 393px !important;
        height: 57px;
    }
    .example-full-width2{
        width: 393px !important;
        height: 10px !important;
    }
    button{
        margin-top: 30px;
    }
  
.mapouter{
   text-align:right;height:300px;width:100%;
}

.gmap_canvas{
    background:none!important;height:300px;width:100%;
}
   
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 8px;
}



}


 */
