
<div class="HomeMainContent">
  <div style="height: 400px;
      width: 100%;">
     <img class="HomeImage" src="../assets/BannerCodingImg.jpg">
     <!-- <h1  class="headingText1">Hello !!!</h1>
     <h1  class="headingText3">I am</h1> -->
     <p  class="headingText1">MH Anwar Hossain Abir</p>
     <ngx-typed-js  [loop]='true' [backSpeed]="50" [showCursor]="false" [contentType]="'html'" [typeSpeed]="120" [strings]="['I am Software Engineer.','I am ASP.NET and angular Developer.', 'I am Work at Retail Technologies Limited.']">
         <h1  class="typing headingText2" > <u></u></h1>
       </ngx-typed-js>
  </div>
  </div>

